html{
    margin: 0;
}
body{
    background: url('anakin.png') no-repeat center top #eee;
    margin: 0 25%;
}
#title{
    margin-top:60%;
}
h1{
    font-size: 4em;
}
h2{
    font-size: 3em;
    padding: 0;
    margin:0;
}