<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form action="#" th:action="@{'/todo/' + ${todo.id} + '/edit'}" th:object="${todo}" method="post">
    <label for="title">Todo Description:</label>
    <input type="text" id="title" th:field="*{title}" th:required="required"/>
    <label for="urgent">Urgent</label>
    <input type="checkbox" id="urgent" th:field="*{urgent}">
    <label for="done">Done</label>
    <input type="checkbox" id="done" th:field="*{done}">
    <input type="submit" value="Submit">
</form>
</body>
</html>